.newTask {
  background-color: rgba(54, 50, 50, 0.651);
  margin: 0.5rem;
  color: whitesmoke;
  padding: 0.2rem;
  border-style: none;
}

.bottonNewTask {
  margin: 0.5srem;
  padding: 0.05rem 0.5rem;
  border-radius: 5px;
  background-color: rgb(85, 83, 97);
  color: whitesmoke;
}
