.deleteBotton {
    margin: 0.2rem 0.5rem 0.2rem 1rem;
    padding: 0.05rem 0.5rem;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(85, 83, 97, 0.719);
    color: whitesmoke;
}