@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.App {
  text-align: center;
  box-shadow: 5px 2px 15px #d3c9c9;
}

.description {
  font-family: "Black Ops One", cursive;
}

.done {
  font-family: "Black Ops One", cursive;
}

.task {
  font-family: "Indie Flower", cursive;
}

@media (max-width:  480px) {
  .App {
    text-align: center;
    box-shadow: 5px 2px 15px #d3c9c9;
  }
}