@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

.box {
  padding: 1.5rem;
  background-color: rgb(60, 57, 73);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .userName {
    background-color: rgb(60, 57, 73);
    border: 0;
    cursor: pointer;
    grid-column: 1/2;
    width: auto;
    justify-self: end;
    text-align: end;
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: "Fredericka the Great", cursive;
    margin-left: 12.5rem;
    &:hover {
      color: red;
    }
    &:focus {
      outline: none;
    }
  }

  .list {
    background-color: rgb(60, 57, 73);
    color: whitesmoke;
    text-align: start;
    font-family: "Fredericka the Great", cursive;
    grid-column: 2/4;
    margin-left: 0;
  }

  .nTask {
    background-color: rgb(60, 57, 73);
    grid-column: 4;
    justify-self: center;
    color: rgba(194, 192, 192, 0.397);
    font-size: medium;
    margin-right: 1rem;
  }
}

@media (max-width:  480px) {
  .box {
    padding: 0.2rem;
    background-color: rgb(60, 57, 73);
    width: 76.6vw;
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    .userName {
      background-color: rgb(60, 57, 73);
      height: 3rem;
      justify-self: end;
      margin: 1rem 0 0 0.2rem ;
      grid-column: 1/2;
      grid-row: 1;
      text-align: end;
      font-size: 20px;
     
    }
    .list {
      background-color: rgb(60, 57, 73);
      height: 3rem;
      margin-top: 1rem;
      padding-top: 0.5rem;
      grid-column: 2/3;
      grid-row: 1;
      font-size: 20px;
     
    }
    .nTask {
      background-color: rgb(60, 57, 73);
      grid-column: 1/-1;
      grid-row: 2;
      font-size: 15.5px;
      justify-self: center;
      color: rgba(194, 192, 192, 0.397);
    }
  }
}

